{% load static %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'siteinfo/css/contact.css' %}">
</head>


{% include 'home/includes/nav.html' %}


<section class="container">

	<div class="wrapper">
		<h1>Contact Me | Zeniel Clere</h1>
		<p>For business related queries, mail me at: <a href="mailto:zclere@gmail.com"><i class="fa-solid fa-envelope"></i></a></p>
		<p>My Github: <a href="https://github.com/zclere"><i class="fa-brands fa-github"></i></a></p>
	</div>


</section>


{% include 'home/includes/footer.html' %}