.container-footer {
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 40px;
}

.footer-top {
	display: block;
	font-size: 10px;
}

.footer-bottom {
	font-family: "Circular Std Black";
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.footer-bottom a {
	display: block;
	text-decoration: none;
	color: black;
}

@media (hover: hover) {
	.footer-bottom a:hover {
		opacity: 0.7;
	}
}


/***************************Responsive***************************/

@media only screen and (max-width: 610px) {

	.container-footer {
		margin-left: 23px;
		margin-right: 23px;
	}

	.footer-bottom {
		font-size: 13px;
	}

}


@media only screen and (max-width: 540px) {

	.container-footer {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.footer-top {
		display: flex;
		justify-content: left;
	}

	.footer-bottom {
		flex-direction: column;
		justify-content: center;
		text-align: left;
	}

	.footer-bottom a {
		margin-top: 20px;
		margin-bottom: 20px;
		opacity: 0.9;
	}

}