html {
	overflow-x: hidden;
}

.filter_qs {
	padding: 19px;
	text-align: center;
	background-color: white;
	color: black;
	border-radius: 1000px;
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	overflow: hidden;
	animation: wiggle 15s ease-in-out infinite;
	transition: 1s ease-in-out;
}

.fa-arrow-up-z-a {
	overflow: hidden;
	font-size: 25px;
}

@media (hover: hover) {

	.filter_qs:hover {
		background-color: black;
		color: white;
		transition: 1s ease-in-out;
	}

	.filter_qs:hover .fa-arrow-up-z-a {
		opacity: 0.7;
	}

}

@keyframes wiggle {

	0% {
		border-radius: 100%;
	}

	15% {
		border-radius: 67% 33% 47% 53%;
	}

	50% {
		border-radius: 50% 40% 61% 35%;
	}

	60% {
		border-radius: 34% 61% 43% 67%;
	}

	70% {
		border-radius: 50% 40% 33% 37%;
	}

	100% {
		border-radius: 100%;
	}

}

.genre {
	padding-top: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50px;
	color: black;
	display: flex;
	justify-content: center;
}

.hidden {
	display: none !important;
}

#input_style {
	font-family: "Circular Std Book";
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 13px;
	border: none;
	margin: 5px;
	border-radius: 1000px;
}

#clear_filter {
	text-decoration: none;
	color: white;
	background-color: #36454F;
	font-size: 13px;
	padding: 10px;
	border-radius: 1000px;
	animation: clearanimate 20s ease infinite;
}

@media (hover: hover) {

	#input_style:hover {
		opacity: 0.7;
	}

	#clear_filter:hover {
		opacity: 0.8;
	}

}

@keyframes clearanimate {
	0%   {background-color: #36454F;}
	25%  {background-color: #819e77;}
	50%  {background-color: #77879e;}
	100% {background-color: #9e9e77;}
}

.card-container {
	position: relative;
	padding-top: 80px;
	padding-bottom: 150px;
	display: flex;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
}

.cards-wrapper{
	columns: 2;
	column-gap: 10px;
}

.cards {
	width: 100%;
	margin-bottom: 20px;
}

.cards a {
	text-decoration: none;
	color: black;
}

#card-img {
	width: 100%;
	height: auto;
	filter: grayscale(100%);
}

@media (hover: hover) {

	#card-img:hover {
		opacity: 0.95;
	}

}

.image-card-wrapper {
	position: relative;
	overflow: hidden;
}

.card-info {
	overflow: hidden;
	position: absolute;
	font-size: 15px;
	color: white;
	z-index: 1;
	top: 0%;
	left: 0%;
	background-color: black;
	padding: 10px;
	width: 50%;
	height: 100%;
	opacity: 0;
	transition: 1.5s ease-in-out;
}

.pstyle {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.ptitle {
	font-family: "Circular Std Book";
	font-size: 15px;
	letter-spacing: 10px;
	line-height: 25px;
	padding-bottom: 10px;
	width: 80%;
	text-align: center;
}

.signature {
	font-family: 'Pacifico', cursive;
	font-weight: 999;
	font-size: 50px;
}

.pdate {
	font-family: "Circular Std Black";
	font-size: 15px;
	padding-top: 10px;
	text-align: center;
	width: 80%;
}

@media (hover: hover) {

	.image-card-wrapper:hover .card-info {
		opacity: 1;
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		transition: 1.5s ease-in-out;
	}

}

.lottie-style {
	margin-top: 60px;
}

#lotte_player {
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.lottie-style p {
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (max-width: 1026px) {

	.card-container {
		margin-left: 43px;
		margin-right: 43px;
	}

}

@media only screen and (max-width: 950px) {

	.cards-wrapper{
		columns: 2;
	}

}

@media only screen and (max-width: 800px) {

	.card-info {
		font-size: 10px;
		padding: 0px;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}

	.ptitle {
		font-size: 10px;
		letter-spacing: 3px;
		line-height: 15px;
	}

	.signature {
		font-size: 15px;
	}

	.pdate {
		font-size: 10px;
		padding-top: 10px;
		text-align: center;
	}

}

@media only screen and (max-width: 610px) {

	.genre {
		width: auto;
		margin-left: 23px;
		margin-right: 23px;
	}

	#input_style {
		font-size: 10px;
	}

	#clear_filter {
		font-size: 10px;
	}

	.card-container {
		margin-left: 23px;
		margin-right: 23px;
	}

}

@media only screen and (max-width: 500px) {

	.cards-wrapper{
		columns: 1;
	}

}